h1, h2{
    color: aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
b{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: darkslategray;
    color: rgba(255, 255, 255, 0.858);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

